@import url('https://fonts.cdnfonts.com/css/krona-one');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    height: 100vh;
    box-sizing: border-box;/* Para a imagem não sair do body */
}

.principal{
    margin:10% 15%;
    display: flex; /* definido no elemento pai */
    align-items: center;
    justify-content: space-between;
}

.principal__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    color: #F6F6F6;
}
.titulo_destaque{
    color: #22D4FD;
}

.principal__conteudo__descricao{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #F6F6F6;
}

.principal__redes{
    display: flex;
    justify-content: space-between;
}

.principal__links{
    background-color: #22D4FD;
    border-radius: 16px;
    width: 280px;
    padding: 21.5px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #000000;
    text-decoration: solid;
    font-weight: 600;
}